
.icon-pinterest:before { content: '\e800'; } /* '' */
.icon-gmail:before { content: '\e801'; } /* '' */
.icon-spotify:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\e803'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
