#Main{
    width: 1000px;
    height: 800px;
    margin: auto;
    box-shadow: 8px 8px 8px grey;
}
#uno{
    background-color: rgb(180, 182, 204);
    width: 1000px;
    height: 125px;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    color: rgb(255, 255, 255);


}
#duzy{
    background-color: rgb(155, 199, 235);
    width: 500px;
    height: 625px;
    position: relative;
    font-family: "Sevillana", cursive;
    font-size: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
}
#duzy_v{
    background-color: rgb(155, 199, 235);
    width: 500px;
    height: 625px;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);


}
#footer{
    background-color: rgb(160, 163, 185);
    width: 1000px;
    height: 50px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    
}
#matka{
    display: flex;
}
#Photo{
    width: 300px;
    height: 250px;
    margin-top: 18%;
}